= simple_form_for @classified_ad, :html => {:class => 'classified_ad'} do |f|
  .clear
    %ul.horizontal
      %li#item
        =f.association :item, :input_html => { :class => 'chzn-select', :data => {:placeholder => 'Choose'}}
      %li
        =f.input :quantity, :required => true, :input_html => {:min => 1, :max => 10}

        -#%ul#quantity_choices.horizontal.js-hide
          -(1..10).each do |qty|
            %li.circle
              =f.radio_button(:quantity, qty)
              =f.label "quantity_#{qty}" do
                =qty

      %li
        =f.input :total_cost, :as => :currency, :required => true, :input_html => {:min => 1}

      %li
        -usernames = Ad.all.collect(&:username).uniq.compact
        =f.input :username, :required => true, :input_html => {:data => {:usernames => usernames}}

  .clear
    =f.button :submit
