// Place all the styles related to the ClassifiedAds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$item_icon_width: 30px;

#items_area {
  img.thumbnail {
    width:  $item_icon_width;
    height: $item_icon_width;
  }

  li {
    padding-right: 20px;
    //width: $item_icon_width;
  }

}

$ad_font_size: 4em;

.controls {
  font-size: $ad_font_size;
}

#quantity_area {

  $qty_height: 50px;
  $qty_padding: 4px;

  li.circle {
    height: $qty_height;
    width:  $qty_height;

    border: 1px solid black;
    border-radius: $qty_height;
    // vert-align radio button
    line-height: 2*$ad_font_size;
    margin: $qty_padding;
    padding: $qty_padding;
    position: relative;
    text-align: center;

    input {
      display: none;

      &:checked + label {
        color: blue;
        font-family: Impact;
        text-shadow: blue;
      }
    }

    label {
      height: $qty_height/2;
      width:  100%;

      font-family: 'Trebuchet MS', Monospace;
      font-size: $ad_font_size;
      padding: $qty_height/2 0 0 0;
      position: absolute;
      top: -$qty_padding;
      left: 0px;

    }
  }
}

#total_cost_area, #quantity_area {
  input.currency, input.numeric {
    height: 1em;
    font-size: 1em;
  }
}
