// Place all the styles related to the ClassifiedAds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item.icon {
  width:  20px;
  height: 20px;
}

img.thumbnail {
  width:  100px;
  height: 100px;
}

#items li {
  display: inline;
  float: left;
  list-style-type: none;
  padding-right: 20px;
  width: 100px;
}

.clear {
  clear: both;
}
